body{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

aside{
    background-color: rgb(236, 234, 234);
    grid-area: side;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: block;
}
.drop{
    font-size: 1.4em;
    margin-right: 3%;
}

ul{
    padding: 0;
    list-style: none;
    background: #f2f2f2;
    width: 100%;
}
ul li{
    display: block;
    position: relative;
    line-height: 10%;
    text-align: center;
    padding-block: 2%;
}
ul li a{
    display: block;
    padding: 3%;
    color: #333;
    text-decoration: none;
}

ul li a:hover{
    color: #fff;
    background-color: #939393;
}
ul.links{
    min-width: 100%;
    background: #f2f2f2;
    position: absolute;
    z-index: 999;
    left: 0;
}

.dropbtn{
    height: 100%;
    border: none;
}

.menu{
    display: none;
}

.drop button:focus + .menu{
    display: block;
}


.logo img{
    margin-left: 3%;
    width: 5%;
}

main{
    grid-area: main;
    
}

.news{
    background-color: #333;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news p{
    margin: 0;
    color: #fff;
    font-size: larger;
    display: flex;
}

.main_news{
    margin-top: 5%;
    width: 90%;
    height: 60%;
    background-image: url(../imgs/logo.png);
    background-color: #fff;
    background-size:contain;
    background-position-x: center;
    background-repeat: no-repeat;
    color: white;
    transition: background-image 0.4s ease-in-out;
}

.main_news span{
    position: absolute;
    margin-left: 3%;
    margin-top: 2%;
}

.txt{
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 3%;
    margin-bottom: 4%;
    color: #c9c8c8;
}
.news_gallery{
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.mini{
    background-color: #fff;
    width: 30vw;
    height: 20vh;
}

.news1{
    background-image: url(../imgs/Bruno.webp);
    background-size: cover;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
}

.news2{
    background-image: url(../imgs/DustyChamp1.jpg);
    background-size: cover;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
}

.news3{
    background-image: url(../imgs/Rocky1.webp);
    background-size: cover;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
}

.news1:hover{
    filter: grayscale(0%);
}

.news2:hover{
    filter: grayscale(0%);
}

.news3:hover{
    filter: grayscale(0%);
}
section{
    background-color: #b9b9b9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section p{
    align-self: center;
    font-size: 2.5em;
    margin: 2%;
}

.champs{
    display: flex;
    overflow-x: scroll;
}

.champ{
    width: 90%;
    height: 80vh;
    position: relative;
}

.ic{
    margin-left: 20%;
}

.tag{
    margin-left: 49%;
}

.talent{
    height: 80%;
    position: absolute;
}

.title{
    height: 30%;
    position: absolute;
    transform: translateY(197%) translateX(5%);
}


footer{
    height: 30vh;
    grid-area: footer;
    background-color: #939393;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer p{
    margin: 0;
}

.redes{
    display: flex;
    gap: 20%;
}

.page{
    display:grid;
    height: 100vh;
    grid-template-areas: 
    "side"
    "main"
    "main"
    "footer"
    ;
    grid-template-rows: 6% auto auto 15%;
    overflow-y: scroll;
}

@media (min-width:576px){
    .page{
        grid-template-areas:
        "side main main"
        "side main main"
        "footer footer footer"
        ;
        grid-template-columns: 10% auto auto;
    }
    .drop{
        display: none;
    }
    nav{
        display: flex;
        flex-direction: column;
    }

    .news{
        height: 100vh;
    }

    .links2 a{
        margin: 18%;
        font-size: 2em;
    }

    .main{
        overflow-y: scroll;
    }



    .logo img{
        width: 100%;
    }
}
